{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen bg-gray-200">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
        <h1 class="mb-6 text-2xl font-bold text-gray-700 text-center">Create Event</h1>

        {{ form_start(eventCreateform, {'attr': {'class': 'space-y-4'}}) }}
            {% for field in eventCreateform %}
                <div class="mb-4">
                    {{ form_row(field, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                </div>
            {% endfor %}

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">Create</button>
        {{ form_end(eventCreateform) }}
    </div>
</div>
{% endblock %}