{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ form_start(eventEditform) }}
        {{ form_widget(eventEditform) }}

        <button type="submit">Save</button>
    {{ form_end(eventEditform) }}

    <a href="{{ path('app_event') }}">back to list</a>
{% endblock %}